@tailwind base;
@tailwind components;
@tailwind utilities;    
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Press+Start+2P&family=VT323&display=swap');


.text-white {
    color: aliceblue;
}

.avnPdf {
    color: red;
    font-weight: bolder;
    text-decoration: underline overline #ff3028;
    width: 100px;
}
.avnPdf:hover {
    color:chartreuse;
}

.text-gray-300 {
    color: rgb(92, 92, 92);
}

.nav-color-grad {
    border-bottom: 6px;
    border-color: aqua;
}

.bg-gray-800 {
    background-color: #33294A;
}

.btn {
    /* remove outline,  */
    outline: none;
    background-color: rgb(246, 246, 135);
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 150px    ;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.backBtn {
    display: flex;
    justify-content: center;
    width: 3.5rem;
    /* padding: 1.5rem; */
    margin: 1rem,2rem;
}

.dispContainer {
    border-color: rgb(220 38 38);
    border-width: 3px;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 25px 10px;
}

/* .sideNav {
    height: 100%;
    width: 5%;
} */

.addform {
    display:grid;
    justify-content: center; 
}

.editform {
    display:grid;
    justify-content: center;
}

.input-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% 20% 2% 20% 20%;
    grid-template-rows: auto ;
}

.form-group {
    display: grid;
}
.form-group > span {
    max-width: 300px;
}
.form-group > input, select {
    text-align: center;
    border-color: #33294A;
    border-radius: 0.5rem;
    border-width: 2px;
    max-width: 305px;
}

.form-group > textarea {
    text-align: center;
    border-color: #33294A;
    border-radius: 0.5rem;
    border-width: 2px; 
}

.form-group:has(#wko) {
    grid-column:1/span 2;
}
.form-group:has(#avn) {
    grid-column: 4/6;
}
.form-group:has(#cab_model_id) {
    grid-column: 1/span 2;
}
.form-group:has(#cab_finish_id) {
    grid-column: 4/6; 
}
.form-group:has(#grille_finish_id) {
    grid-column: 1/span 2;
}
.form-group:has(#waveguide_finish_id) {
    grid-column: 4/6; 
}
.form-group:has(#connectors) {
    grid-column: 1/span 2;
}
.form-group:has(#wheels) {
    grid-column: 4/6; 
}
.form-group:has(#quantity_required) {
    grid-column: 1/span 2;
}
.form-group:has(#serials) {
    grid-column: 4/6; 
}
.form-group:has(#wko_status) {
    grid-column: 1/span 2;
}
.form-group:has(#wko_delivery) {
    grid-column: 4/6; 
}
.form-group:has(#wko_notes) {
    grid-column:1/span 5
}
.submitBtn {
    grid-column: 2/5;
}


.invalid-feedback {
    border-color: red;
    color: red;
    font-style: italic;
}

.is-invalid {
    border-color: red;
    border-width: 1px;
}

.addform {
    border-width: 5px;
}

.alert-success {
    /* code */
    background-color: lightgrey;
    color: blue;
}

tr.tnoterow:hover {
    background-color:#cccccb
}

tr.worow:hover {
    background-color:#cccccb
}

.mrk-as-comp:hover {
    fill: chartreuse;
}

.split-order:hover {
    fill:yellow
}

.edit-order:hover {
    fill:blue
}

.dlt-order:hover {
    fill:red
}

.fade-in{animation: fadeIn 1s;}

.slow-fade-in{animation: fadeIn 1.5s;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.inprogress {
    /* colour theme */
    background-color: rgb(253, 255, 116);

}

.tobebuilt {
    /* colour theme */
    background-color: #f9b76b;
}

.onhold {
    /* colour theme */
    background-color: rgb(110, 110, 247);
    color: azure;
}

.waitingforparts {
    /* colour theme */
    background-color: rgb(252, 119, 119);
}

.upcoming {
    /* colour theme */
    background-color: rgb(134, 186, 255);
    color: white;
}

.nav-selected {
    color: yellow;
}

.pgBtn {
    --tw-text-opacity: 1;
    align-items: center;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity)) /* #d1d5db */;
}

.pgBtnArrow {
    position: relative;
    color: rgb(156 163 175 / var(--tw-text-opacity)) /* #9ca3af */;
    display:flex;
    flex:inline;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.pgBtnNum {
    position: relative;
    display: inline-flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    font-weight: 600;
    /* color: rgb(17 24 39 / var(--tw-text-opacity)) #111827; */
}

.selPgBtn {
/* z-10 items-center px-4 py-2 text-sm font-semibold text-white focus:z-20  */
/* focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo- */
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity)) /* #4f46e5 */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity)) /* #ffffff */;
 
}

 /* //elative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 */